* {	font-family: 'Open Sans', sans-serif;
}

nav > div:nth-child(1) > a > img {	width: 64px;
									vertical-align: bottom;
}

nav > div:nth-child(1) > ul > li:nth-child(2) > form > button {	background: none;
																border: none;
																color: white;
																cursor: pointer;
}

input:focus {	border-bottom: 1px solid #6200EA !important;
  				box-shadow: 0 1px 0 0 #6200EA !important;
}

.input-field input:focus + label {	color: #6200EA !important;
 }

.input-field input[type]:focus:not([readonly])+label {	color: #6200EA;
}

span {	color: black !important;
}


.input-field textarea:focus + label {	color: #6200EA !important;
}

.row .input-field textarea:focus {	border-bottom: 1px solid #6200EA !important;
									box-shadow: 0 1px 0 0 #6200EA !important
}

a.dropdown-trigger {	background-color: #8e24aa !important
}

a.dropdown-trigger:hover {	background-color: #6a1b9a !important
}

.dropdown-content li > a {	color: black;
}

.btn-floating:hover {	background-color: #6a1b9a !important
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {	-webkit-appearance: none;
  																		margin: 0;
}

input[type=number] {	-moz-appearance:textfield;
}

.timepicker-container {	border: solid 1px black;
}

.timepicker-digital-display {	background-color: #471255;
}

.timepicker-span-hours {	color: white !important;
}

.timepicker-span-minutes {	color: white !important;
}

.timepicker-svg > g > line, circle {	stroke: white !important;
										fill: #8e24aa !important;
}

.timepicker-plate {	background-color: #471255 !important;
					border: solid 1px black !important;
}

.timepicker-tick {	color: white !important;
}

.timepicker-tick:hover {	background-color: rgba(255,255,255,0.6) !important;
							color: black !important;
							border: solid 1px white !important;
}

.timepicker-close {	color: black !important;
}

.card-content > button {	background-color: #4a148c;
}

.card-content > button:hover {	background-color: #58148c;
}
