* {	font-family: 'Open Sans', sans-serif;
}

nav > div:nth-child(1) > a > img {	width: 64px;
									vertical-align: bottom;
}

nav > div:nth-child(1) > ul > li:nth-child(2) > form > button {	background: none;
																border: none;
																color: white;
																cursor: pointer;
}

input:focus {	border-bottom: 1px solid #6200EA !important;
  				box-shadow: 0 1px 0 0 #6200EA !important;
}

.input-field input:focus + label {	color: #6200EA !important;
 }

.input-field input[type]:focus:not([readonly])+label {	color: #6200EA;
}

span {	color: black !important;
}